/* =============== GENERAL ================ */

$color-one: #557A95;
$color-two: #5D5C61;
$color-three: #969599;

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Mukta Mahee', sans-serif;
    position: relative;
    min-height: 100vh;
}

nav {
    background-color: $color-one;
}

footer {
    text-align: center;
    background: #969599;
    color: white;
    align-self: flex-end;
    width: 100%;
}

h1 {
    font-family: 'Arvo', serif;
    font-size: 10vw;
    margin-top: 0;
}

li label {
    position: relative !important;
    top: -10px !important;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.btn {
    text-transform: none;
    background-color: $color-two;
    border-radius: 5px;
}

.btn:visited {
    background-color: $color-two;
}

.btn:hover, .btn:active {
    background-color: $color-three;
}


.btn:focus, input[type="submit"] {
    outline: 0;
}

.container {
    width: 80%;
    margin-top: 2.5%;
}

#toast-container {
    top: -0.4%;
    left: 1%;
    right: initial;
}

@media screen and (min-width: 600px) {
    body {
        background: linear-gradient(
          transparent, 
          rgba(0, 0, 0, 0.7)),
          url('../img/concert.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }

    h1 {
        font-size: 6vw;
    }

    .container {
        padding: 4% 4% 4% 4%;
        margin-top: 4%;
        margin-bottom: 2.5%;
        background: white;
        border-radius: 3px;
    }
}

/* ============= LANDING PAGE ============= */

#landing {
    overflow: hidden;
    background: linear-gradient(
      transparent, 
      rgba(0, 0, 0, 0.7)),
      url('../img/campfire.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: center;

    h1 {
        margin-top: 10%;
        font-size: 12vw;
        font-weight: bold;
    }

    ol {
        display: inline-block;
    }

    li {
        text-align: left;
    }

    .btn {
        background-color: #1db954;
        border-radius: 90px;
        width: 350px;
    }

    .btn:hover {
        background-color: #1ec95a;
    }

    #intro {
        margin-top: 10vh;
        font-size: 1.25em;
        font-weight: 500;
    }

    @media screen and (max-width: 450px) {
        .btn {
            width: 90%;
        }
    }

    @media screen and (min-width: 600px) {
        .container {
            background: none;
            padding: 0;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

/* ============= MY PLAYLISTS ============= */

#my-playlists {

}

/* ============= LANDING PAGE ============= */

#new-playlist {
    #multi-select-error {
        color: rgb(244, 67, 54);
    }
}

/* ============= LANDING PAGE ============= */

#show-playlist {
    .container {
        padding-bottom: 2%;
    }

    .delete-playlist-link {
        margin-left: 5px;
    }
}

/* ============= LANDING PAGE ============= */

#profile {

}

/* ============= LANDING PAGE ============= */

#loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

/* ============= LANDING PAGE ============= */

#welcome {

}





