<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ../partials/header.ejs %>
    </head>
    <body id="loading">
        <div class="container">
            <h4>Analyzing your music preferences...</h4>
            <div class="progress">
              <div class="indeterminate"></div>
            </div>
            <p>You're a complicated human being. This will take a few minutes.</p>
        </div>
        <script src="//code.jquery.com/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/download.js"></script>
    </body>
</html>