<footer>
    <p> Totally Copyrighted 2018 Brett Spencer</p>
    <a href='https://github.com/WithoutATowel/Harmonize'><img class='icon' src="https://image.flaticon.com/icons/svg/25/25231.svg"></a>
    <a href='www.linkedin.com/in/brett-spencer'><img class='icon' src='https://png.icons8.com/metro/1600/linkedin.png'></a>
    <a href='mailto:brettspencr@gmail.com'><img class='icon' src='http://www.stickpng.com/assets/images/584856a0e0bb315b0f7675a9.png'></a>
</footer>

<script src="//code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>