<nav>
<div class="nav-wrapper">
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/playlists">My Playlists</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Log out</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="/playlists">My Playlists</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/auth/logout">Log out</a></li>
    </ul>
</div>
</nav>