<%- include ./partials/header.ejs %>
<% include ./partials/nav %>
<% include ./partials/alerts %>

<div class="container">
    <h1>PartyPlaylist</h1>
    <div id="login">
        <a href="/auth/spotify" class="btn btn-primary">Log in with Spotify</a>
    </div>
    <p>Tired of wondering whether your friends like your music? Automatically generate a playlist that everyone will like. It’s easy.</p>
    <ol>
        <li>Link PartyPlaylist to one or more Spotify accounts.</li>
        <li>Select a group of users to create a playlist for.</li>
        <li>Enjoy.</li>
    </ol>
</div>

<%- include ./partials/footer.ejs %>