/* =============== GENERAL ================ */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta Mahee', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 100vh; }

nav {
  background-color: #91344e; }

footer {
  text-align: center;
  background: #28344E;
  color: white;
  align-self: flex-end;
  width: 100%; }

h1 {
  font-family: 'Arvo', serif;
  font-size: 10vw;
  margin-top: 0; }

li label {
  position: relative !important;
  top: -10px !important; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline; }

.btn {
  text-transform: none;
  background-color: #5D5C61;
  border-radius: 5px; }

.btn:visited {
  background-color: #5D5C61; }

.btn:hover, .btn:active {
  background-color: #28344E; }

.btn:focus, input[type="submit"] {
  outline: 0; }

.container {
  width: 80%;
  margin-top: 2.5%; }

.icon {
  height: 20px;
  width: 20px;
  margin: 10px 0 10px 5px;
  margin-left: 5px;
  margin-top: 10px;
  filter: invert(100%); }

#toast-container {
  top: -0.4%;
  left: 1%;
  right: initial; }

@media screen and (min-width: 600px) {
  body {
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url("../img/concert.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh; }

  h1 {
    font-size: 6vw; }

  .container {
    padding: 4% 4% 4% 4%;
    margin-top: 4%;
    margin-bottom: 4%;
    background: white;
    border-radius: 3px; } }
/* ============= LANDING PAGE ============= */
#landing {
  overflow: hidden;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7)), url("../img/campfire.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  color: white;
  text-align: center; }
  #landing h1 {
    margin-top: 15%;
    font-size: 12vw;
    font-weight: bold; }
  #landing ol {
    display: inline-block; }
  #landing li {
    text-align: left; }
  #landing .btn {
    background-color: #1db954;
    border-radius: 90px;
    width: 350px; }
  #landing .btn:hover {
    background-color: #1ec95a; }
  #landing #intro {
    margin-top: 10vh;
    font-size: 1.25em;
    font-weight: 500; }
  @media screen and (max-width: 450px) {
    #landing .btn {
      width: 90%; } }
  @media screen and (min-width: 600px) {
    #landing h1 {
      margin-top: 10%;
      font-size: 12vw;
      font-weight: bold; }
    #landing .container {
      background: none;
      padding: 0;
      margin-top: 0;
      margin-bottom: 0; } }

/* ============= MY PLAYLISTS ============= */
#my-playlists .container p {
  margin-top: 5%; }

/* ============= NEW PLAYLIST ============= */
#new-playlist #multi-select-error {
  color: #f44336; }

/* ============= SHOW PLAYLIST ============= */
#show-playlist .container {
  padding-bottom: 2%; }
#show-playlist .delete-playlist-link {
  margin-left: 5px; }

/* ============= PROFILE PAGE ============= */
/* ============= LOADING PAGE ============= */
#loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh; }

/* ============= WELCOME PAGE ============= */

/*# sourceMappingURL=styles.css.map */
